.carousel-inner {
  border-radius: 1rem;
  background-color: rgba(0,0,0,0);
  overflow: hidden;
}

img {
  border-radius: 1rem;
}

@media only screen and (min-width: 992px) {
  .carousel {
    width: 57%;
  }
}